<div class="py-8 bg-light-primary">
    <div class="container">
        <div class="row ">
            <div class="col-lg-10 col-md-10 col-12">
                <div>
                    <div class="mb-4">
                        <h1 class=" fw-bold mb-4">
                            Showing jobs for '<span class="text-primary">it manager</span>,
                            India
                        </h1>
                    </div>

                    <div class="bg-white me-lg-10 shadow rounded-3">
                        <div class="p-md-2 p-4">
                            <form class="row g-1">
                                <div class="col-12 col-md-9">
                                    <div class="input-group mb-2 mb-md-0 border-md-0 border">
                                        <span class="input-group-text bg-transparent border-0 pe-0 ps-md-3 ps-md-0" id="searchJob">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" fill="currentColor" class="bi bi-search text-muted" viewBox="0 0 16 16">
                                                <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z" />
                                            </svg>
                                        </span>
                                        <input type="search" class="form-control  rounded-pill border-0 ps-3 form-focus-none" placeholder="Rechercher un article" aria-label="Rechercher un article" aria-describedby="searchJob">
                                    </div>
                                </div>

                                <div class="col-12 col-md-3 text-end d-grid">
                                    <button type="submit" class="btn btn-primary">
                                        Rechercher
                                    </button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
