{% for post in posts %}

	{% set post_cover='media/post/' + post.post_cover %}

	<article class="col-xl-4 col-lg-4 col-md-6 col-12">
		<div class="card card-bordered mb-3 card-hover cursor-pointer rounded-0">
			<a href="{{ url_for('main.postDetailPage', post_slug=post.slug) }}" class="card-img-top">
				<img src="{{ url_for('static', filename=post_cover) }}"
					class="card-img-top" width="356" height="192"
					alt="{{ post.title.lower() }}">
			</a>

			<div class="card-body">
				<a href="#" class="fs-5 mb-2 fw-semi-bold d-block text-success">Courses</a>
				
				<h3>
					<a href="{{ url_for('main.postDetailPage', post_slug=post.slug) }}" class="text-inherit">
						{{ post.title.capitalize() }}
					</a>
				</h3>

				<div class="row align-items-center g-0 mt-4">
					<div class="col-auto">
						<img src="{{ current_user.gravatar(size=256) }}" alt="{{ post.author.username }}" class="rounded-circle avatar-sm me-2">
					</div>
					<div class="col lh-1">
						<h5 class="mb-1">
							<a href="{{ url_for('main.userProfilePage', slug=post.author.slug) }}">
								{{ post.author.username.upper() }}
							</a>
						</h5>
						<p class="fs-6 mb-0">{{ moment(post.author.date_joined).fromNow(refresh=True) }}</p>
					</div>
					<div class="col-auto">
						<p class="fs-6 mb-0">{{ moment(post.date_posted).fromNow(refresh=True) }}</p>
					</div>
				</div>
			</div>
		</div>
	</article>
{% endfor %}