<div class="col-md-4 col-xl-3">
    <div class="card border mb-6 mb-md-0 shadow-none">
        <div class="card-header">
            <h4 class="mb-0 fs-5">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-filter text-muted me-2" viewBox="0 0 16 16">
                    <path d="M6 10.5a.5.5 0 0 1 .5-.5h3a.5.5 0 0 1 0 1h-3a.5.5 0 0 1-.5-.5zm-2-3a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7a.5.5 0 0 1-.5-.5zm-2-3a.5.5 0 0 1 .5-.5h11a.5.5 0 0 1 0 1h-11a.5.5 0 0 1-.5-.5z" />
                </svg>All Filters
            </h4>
        </div>
        
        <div class="card-body py-3">
            <a class="fs-5 text-dark fw-semi-bold" data-bs-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
                Locations
                <span class="float-end">
                    <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" fill="currentColor" class="bi bi-chevron-down" viewBox="0 0 16 16">
                        <path fill-rule="evenodd" d="M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z" />
                    </svg>
                </span>
            </a>
            
            <div class="collapse show" id="collapseExample">
                <div class="mt-3">
                    <div class="form-check mb-2">
                        <input class="form-check-input" type="checkbox" value="" id="flexCheckLocationOne">
                        <label class="form-check-label" for="flexCheckLocationOne">
                            Gujarat
                            <span class="text-muted">(4)</span>
                        </label>
                    </div>
                    <div class="form-check mb-2 ">
                        <input class="form-check-input" type="checkbox" value="" id="flexCheckLocationTwo " checked>
                        <label class="form-check-label" for="flexCheckLocationTwo ">
                            Rajasthan
                            <span class="text-muted">(8)</span>
                        </label>
                    </div>
                    <div class="form-check mb-2">
                        <input class="form-check-input" type="checkbox" value="" id="flexCheckLocationThree ">
                        <label class="form-check-label" for="flexCheckLocationThree ">
                            Delhi
                            <span class="text-muted">(12)</span>
                        </label>
                    </div>
                    <div class="form-check mb-2">
                        <input class="form-check-input" type="checkbox" value="" id="flexCheckLocationFour ">
                        <label class="form-check-label" for="flexCheckLocationFour ">
                            Pune
                            <span class="text-muted">(412)</span>
                        </label>
                    </div>
                    <a href="#" class="fw-semi-bold">12+ More</a>
                </div>
            </div>
        </div>

        <div class="card-body border-top py-3">
            <a class="fs-5 text-dark fw-semi-bold" data-bs-toggle="collapse" href="#collapseExampleSecond" role="button" aria-expanded="false" aria-controls="collapseExampleSecond">
                Salary
                <span class="float-end">
                    <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" fill="currentColor" class="bi bi-chevron-down" viewBox="0 0 16 16">
                        <path fill-rule="evenodd" d="M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z" />
                    </svg>
                </span>
            </a>
            <div class="collapse show" id="collapseExampleSecond">
                <div class="mt-3">
                    <div class="form-check mb-2">
                        <input class="form-check-input" type="checkbox" value="" id="flexCheckSalaryOne">
                        <label class="form-check-label" for="flexCheckSalaryOne">
                            0-3 Lakhs
                        </label>
                    </div>
                    <div class="form-check mb-2 ">
                        <input class="form-check-input" type="checkbox" value="" id="flexCheckSalaryTwo " checked>
                        <label class="form-check-label" for="flexCheckSalaryTwo ">
                            3-6 Lakhs
                        </label>
                    </div>
                    <div class="form-check mb-2">
                        <input class="form-check-input" type="checkbox" value="" id="flexCheckSalaryThree ">
                        <label class="form-check-label" for="flexCheckSalaryThree ">
                            6-10 Lakhs
                        </label>
                    </div>
                    <div class="form-check mb-2">
                        <input class="form-check-input" type="checkbox" value="" id="flexCheckSalaryFour ">
                        <label class="form-check-label" for="flexCheckSalaryFour ">
                            10-15 Lakhs
                        </label>
                    </div>
                </div>
            </div>
        </div>

        <div class="card-body border-top py-3">
            <h4 class="mb-4 fs-5">Experience</h4>
            <div id="slider"></div>
            <div class="d-flex justify-content-between mt-2 fs-6 text-dark">
                <span>4 yrs</span>
                <span>30 yrs</span>
            </div>
        </div>

        <div class="card-body border-top py-3">
            <a class="fs-5 text-dark fw-semi-bold" data-bs-toggle="collapse" href="#collapseExampleThird" role="button" aria-expanded="false" aria-controls="collapseExampleThird">
                Last updated
                <span class="float-end">
                    <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" fill="currentColor" class="bi bi-chevron-down" viewBox="0 0 16 16">
                        <path fill-rule="evenodd" d="M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z" />
                    </svg>
                </span>
            </a>
            <div class="collapse show" id="collapseExampleThird">
                <div class="mt-3">
                    <select class="selectpicker form-control" data-width="100%">
                        <option value="">Last Day</option>
                        <option value="Newest">Newest</option>
                        <option value="Oldest">Oldest</option>
                    </select>
                </div>
            </div>
        </div>

        <div class="card-body border-top py-3">
            <a class="fs-5 text-dark fw-semi-bold" data-bs-toggle="collapse" href="#collapseExampleFourth" role="button" aria-expanded="false" aria-controls="collapseExampleFourth">
                Education
                <span class="float-end">
                    <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" fill="currentColor" class="bi bi-chevron-down" viewBox="0 0 16 16">
                        <path fill-rule="evenodd" d="M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z" />
                    </svg>
                </span>
            </a>

            <div class="collapse show" id="collapseExampleFourth">
                <div class="mt-3">
                    <div class="form-check mb-2">
                        <input class="form-check-input" type="checkbox" value="" id="flexCheckEduFive">
                        <label class="form-check-label" for="flexCheckEduFive">
                            M.Tech
                        </label>
                    </div>
                    <div class="form-check mb-2 ">
                        <input class="form-check-input" type="checkbox" value="" id="flexCheckEduSix " checked>
                        <label class="form-check-label" for="flexCheckEduSix ">
                            MBA / MTech
                        </label>
                    </div>
                    <div class="form-check mb-2">
                        <input class="form-check-input" type="checkbox" value="" id="flexCheckEduSeven ">
                        <label class="form-check-label" for="flexCheckEduSeven ">
                            Any Graduate
                        </label>
                    </div>
                    <div class="form-check mb-2">
                        <input class="form-check-input" type="checkbox" value="" id="flexCheckEduEight ">
                        <label class="form-check-label" for="flexCheckEduEight ">
                            Post Graduate
                        </label>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
