{% extends "auth/dashboard.html" %}

{% block dashboard_content %}
	<div class="card">
		<div class="card-header">
			<h3 class="mb-0">Détails du profil</h3>
			<p class="mb-0">
				Vous avez le contrôle total pour gérer les paramètres de votre propre compte.
			</p>
		</div>

		<div class="card-body">
			<div class="d-lg-flex align-items-center justify-content-between">
				<div class="d-flex align-items-center mb-4 mb-lg-0">
					<img loading="lazy" src="{{ current_user.gravatar(size=256) }}" id="img-uploaded" class="avatar-xl rounded-circle" alt="" />
					<div class="ms-3">
						<h4 class="mb-0">Photo de profile</h4>
						<p class="mb-0">
							PNG or JPG no bigger than 800px wide and tall.
						</p>
					</div>
				</div>
				<div>
					<a href="#picture" class="btn btn-outline-danger btn-sm">Changer</a>
				</div>
			</div>

			<hr class="my-5"/>
			
			<div>
				<h4 class="mb-0">Détails du profil</h4>
				<p class="mb-4">
					Vous avez le contrôle total pour gérer les paramètres de votre propre compte.
				</p>

				<form method="POST" action="." class="row" enctype="multipart/form-data">

					{{ form.hidden_tag() }}

					<div class="mb-3 col-12 col-md-12">
						{{ form.role.label(class="form-label") }}

						{% if form.role.errors %}
							{{ form.role(class="form-control shadow-none is-invalid") }}
							<div class="invalid-feedback">
								{% for error in form.role.errors %}
									<span>{{ error }}</span>
								{% endfor %}
							</div>
						{% else %}
							{{ form.role(class="form-control form-select shadow-none") }}
						{% endif %}
					</div>

					<div class="mb-3 col-12 col-md-3">
						{{ form.gender.label(class="form-label") }}

						{% if form.gender.errors %}
							{{ form.gender(class="form-control shadow-none is-invalid") }}
							<div class="invalid-feedback">
								{% for error in form.gender.errors %}
									<span>{{ error }}</span>
								{% endfor %}
							</div>
						{% else %}
							{{ form.gender(class="form-control form-select shadow-none") }}
						{% endif %}
					</div>

					<div class="mb-3 col-12 col-md-9">
						{{ form.username.label(class="form-label") }}

						{% if form.username.errors %}
							{{ form.username(class="form-control shadow-none is-invalid") }}
							<div class="invalid-feedback">
								{% for error in form.username.errors %}
								<span>{{ error }}</span>
								{% endfor %}
							</div>
						{% else %}
							{{ form.username(class="form-control shadow-none", placeholder="Votre nom & prénoms") }}
						{% endif %}
					</div>

					<div class="mb-3 col-12 col-md-12">
						{{ form.email.label(class="form-label") }}

						{% if form.email.errors %}
							{{ form.email(class="form-control shadow-none is-invalid") }}
							<div class="invalid-feedback">
								{% for error in form.email.errors %}
								<span>{{ error }}</span>
								{% endfor %}
							</div>
						{% else %}
							{{ form.email(class="form-control shadow-none", placeholder="Votre adresse e-mail") }}
						{% endif %}
					</div>

					<div class="mb-3 col-12 col-md-12">
						{{ form.website.label(class="form-label") }}

						{% if form.website.errors %}
							{{ form.website(class="form-control shadow-none is-invalid") }}
							<div class="invalid-feedback">
								{% for error in form.website.errors %}
								<span>{{ error }}</span>
								{% endfor %}
							</div>
						{% else %}
							{{ form.website(class="form-control shadow-none", placeholder="Votre site internet") }}
						{% endif %}
					</div>

					<div class="mb-3 col-12 col-md-12">
						{{ form.biography.label(class="form-label") }}

						{% if form.biography.errors %}
							{{ form.biography(class="form-control shadow-none is-invalid") }}
							<div class="invalid-feedback">
								{% for error in form.biography.errors %}
								<span>{{ error }}</span>
								{% endfor %}
							</div>
						{% else %}
							{{ form.biography(class="form-control shadow-none", placeholder="Votre biographie") }}
						{% endif %}
					</div>

					<div class="mb-3 col-12 col-md-12">
						{{ form.picture.label(class="form-label") }}

						{% if form.picture.errors %}
							{{ form.picture(class="form-control-file shadow-none is-invalid") }}
							<div class="invalid-feedback">
								{% for error in form.picture.errors %}
								<span>{{ error }}</span>
								{% endfor %}
							</div>
						{% else %}
							{{ form.picture(class="form-control-file shadow-none", placeholder="Photo de profile") }}
						{% endif %}
					</div>

					<div class="d-grid">
						{{ form.submit(class="btn btn-primary fw-bold text-uppercase shadow-none") }}
					</div>
				</form>
			</div>
		</div>
	</div>

	{{ ckeditor.load(pkg_type="basic") }}
	{{ ckeditor.config(name='biography') }}     
{% endblock dashboard_content %}