[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask-wtf = "*"
email-validator = "*"
gunicorn = "*"
flask-sqlalchemy = "*"
flask-bcrypt = "*"
flask-login = "*"
python-dotenv = "*"
uni-slugify = "*"
pillow = "*"
bleach = {extras = ["css"], version = "*"}
flask-ckeditor = "*"
flask-mail = "*"
flask-migrate = "*"
pyjwt = "*"
flask-moment = "*"
faker = "*"
elasticsearch = {extras = ["async"], version = "*"}
flask-session = "*"
redis = "*"

[dev-packages]

[requires]
python_version = "3.8"
