{% extends "_base.html" %}

{% block page_content %}
	
	{% set post_cover='media/post/' + post.post_cover %}

    <main class="py-4 py-lg-5 pb-14">
    	<div class="container">
    		<div class="row justify-content-center">
    			<div class="col-xl-8 col-lg-8 col-md-12 col-12 mb-2">
    				<div class="text-center mb-4">
    					<a href="{{ url_for('main.blogListPage')}}" class="fs-5 fw-bold d-block mb-4 text-primary">
    						<i class="fe fe-arrow-left fs-4"></i>
    						Tous les articles
    					</a>

    					<h1 class="display-3 fw-bold mb-4">
    						{{ page_title }}
    					</h1>

    					<span class="mb-3 d-inline-block">
    						{{ moment(post.date_posted).fromNow(refresh=True) }}
    					</span>
    				</div>

    				<div class="d-flex justify-content-between align-items-center mb-5">
    					<div class="d-flex align-items-center">
    						<img src="{{ post.author.gravatar(256) }}" alt="" class="rounded-circle avatar-md">
    						<div class="ms-2 lh-1">
    							<h5 class="mb-1">{{ post.author.username }}</h5>
    							<span class="text-primary">{{ post.author.status | capitalize() }}</span>
    						</div>
    					</div>

    					<div class="ms-2">
    						{{ post.comments.count() }} commentaires
    					</div>
    				</div>
    			</div>
    		</div>

    		<div class="row justify-content-center">
	          	<div class="col-xl-10 col-lg-10 col-md-12 col-12 mb-6">
	            	<img src="{{ url_for('static', filename=post_cover) }}"
	            	alt="{{ post.slug }}" class="img-fluid rounded-3">
	          	</div>
	        </div>

	        <div class="row justify-content-center">
	          	<div class="col-xl-8 col-lg-8 col-md-12 col-12 mb-2">
	          		{{ post.content | safe }}
	          	</div>
	        </div>

	        <hr class="my-4">

	        <div class="row justify-content-center">
	          	<div class="col-xl-8 col-lg-8 col-md-12 col-12 mb-2">

	          		<h1 class="mb-4">({{ post.comments.count() }}) commentaires</h1>

	          		{% if current_user.is_authenticated %}
						<form method="POST" action=".">
							{{ form.hidden_tag() }}
							<div class="mb-3 col-12 col-md-12">
								{{ form.content.label(class="form-label") }}

								{% if form.content.errors %}
									{{ form.content(class="form-control shadow-none is-invalid") }}
									<div class="invalid-feedback">
										{% for error in form.content.errors %}
										<span>{{ error }}</span>
										{% endfor %}
									</div>
								{% else %}
									{{ form.content(class="form-control shadow-none", placeholder="Éditer votre article ...") }}
								{% endif %}
							</div>

							<div class="d-grid">
								{{ form.submit(class="btn btn-primary fw-bold text-uppercase shadow-none") }}
							</div>
						</form>
					{% else %}
					    <a href="{{ url_for('auth.loginPage') }}"
					    	class="fw-bolg fst-italic">
					    		Connectez-vous pour ajouter votre commentaire.
					    	</a>
	          		{% endif %}

					{{ ckeditor.load(pkg_type="basic") }}
					{{ ckeditor.config(name='content') }}
	          	</div>
	        </div>
    	</div>
    </main>

    {% include "paths/_footer.html" %}
{% endblock page_content %}
