{% extends '_base.html' %}

{% block navbar %}

{% endblock navbar %}

{% block page_content %}
	<div class="container d-flex flex-column">
		<div class="row align-items-center justify-content-center g-0 min-vh-100">
			<div class="col-lg-5 col-md-8 py-8 py-xl-0">
				
				{% include "paths/_alert.html" %}

				<div class="card shadow ">
					<div class="card-body p-6">
						<div class="mb-4">
							<a href="{{ url_for('main.homePage') }}">
								<img src="{{ url_for('static', filename='img/logo.svg') }}" class="mb-4" alt="login">
							</a>

							<h1 class="mb-1 fw-bold">{{ page_title }}</h1>
							<span>
								Vous n'avez pas de compte ?
								<a href="{{ url_for('auth.registerPage') }}" class="ms-1">Inscrivez-vous</a>
							</span>
						</div>

						<form action="" method="POST">

							{{ form.hidden_tag() }}

							<div class="mb-3">
								{{ form.email.label(class="form-label") }}

								{% if form.email.errors %}
								    {{ form.email(class="form-control shadow-none is-invalid") }}
									<div class="invalid-feedback">
										{% for error in form.email.errors %}
											<span>{{ error }}</span>
										{% endfor %}
									</div>
								{% else %}
									{{ form.email(class="form-control shadow-none", placeholder="Entrer votre adresse e-mail") }}
								{% endif %}
							</div>

							<div class="mb-3">
								{{ form.password.label(class="form-label") }}

								{% if form.password.errors %}
								    {{ form.password(class="form-control shadow-none is-invalid") }}
									<div class="invalid-feedback">
										{% for error in form.password.errors %}
											<span>{{ error }}</span>
										{% endfor %}
									</div>
								{% else %}
									{{ form.password(class="form-control shadow-none", placeholder="********") }}
								{% endif %}
							</div>


							<div class="d-lg-flex justify-content-between align-items-center mb-4">
								<div class="form-check">
									{{ form.remember(class="form-check-input")}}
									{{ form.remember.label(class="form-check-label")}}
								</div>
								<div>
									<a href="#!">Mot de passe oublié ?</a>
								</div>
							</div>

							<div>
								<div class="d-grid">
									{{ form.submit(class="btn btn-primary fw-bold text-uppercase shadow-none") }}
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock page_content %}
