{% extends "auth/dashboard.html" %}

{% block dashboard_content %}
	<div class="card mb-4">
		<div class="card-header border-bottom-0">
			<h3 class="mb-0">Liste de vos articles ({{ posts.count() }})</h3>
		</div>

		<div class="table-responsive border-0">
			<table class="table mb-0">
				<thead class="table-light">
					<tr>
						<th class="border-0">articles</th>
						<th class="border-0">publication</th>
						<th class="border-0"></th>
					</tr>
				</thead>

				<tbody>
					{% for post in posts %}
					
						{% set post_cover = 'media/post/', post.post_cover %}

						<tr>
							<td class="align-middle border-top-0">
								<a target="_blank" href="{{ url_for('main.postDetailPage', post_slug=post.slug) }}">
									<div class="d-lg-flex align-items-center">
										<img
											width="100" height="60"
											src="{{ url_for('static', filename=post_cover) }}"
											alt="{{ post.slug }}" class="rounded img-4by3-lg">
										<h5 class="mb-0 ms-lg-3 mt-2 mt-lg-0 text-primary-hover">
											{{ post.title }}
										</h5>
									</div>
								</a>
							</td>
							<td class="align-middle border-top-0">{{ post.date_posted.strftime("%d %B %Y") }}</td>
							<td class="align-middle justify-content-between border-top-0">
								<a href="{{ url_for('post.postUpdatePage', post_id=post.id) }}" class="text-muted btn btn-sm btn-primary">
									<i class="fe fe-edit text-white fw-bold"></i>
								</a>
								<a href="#" class="text-muted btn btn-sm btn-danger">
									<i class="fe fe-trash text-white fw-bold"></i>
								</a>
							</td>
						</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
	</div>
{% endblock dashboard_content %}
