<div class="col-lg-3 col-md-4 col-12">
    <nav class="navbar navbar-expand-md navbar-light shadow-sm mb-4 mb-lg-0 sidenav">
        <a class="d-xl-none d-lg-none d-md-none text-inherit fw-bold" href="#">Menu</a>

        <button class="navbar-toggler d-md-none icon-shape icon-sm rounded bg-primary text-light" type="button" data-bs-toggle="collapse" data-bs-target="#sidenav" aria-controls="sidenav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="fe fe-menu"></span>
        </button>

        <div class="collapse navbar-collapse" id="sidenav">
            <div class="navbar-nav flex-column">
                <span class="navbar-header">Dashboard</span>
                <ul class="list-unstyled ms-n2 mb-4">
                    <li class="nav-item active">
                        <a class="nav-link" href="{{ url_for('main.homePage') }}">
                            <i class="fe fe-home nav-icon"></i>
                            Tableau de bord
                        </a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="#!">
                            <i class="fe fe-book nav-icon"></i>
                            Mes billets
                        </a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="#!">
                            <i class="fe fe-star nav-icon"></i>
                            Commentaires
                        </a>
                    </li>
                </ul>
                
                <span class="navbar-header">Paramètres</span>

                <ul class="list-unstyled ms-n2 mb-0">
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('auth.updateAccountPage') }}">
                            <i class="fe fe-settings nav-icon"></i>
                            Modifier votre compte
                        </a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="#">
                            <i class="fe fe-user nav-icon"></i>
                            Sécurités
                        </a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="#!">
                            <i class="fe fe-refresh-cw nav-icon"></i>
                            Profils sociaux
                        </a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="#!">
                            <i class="fe fe-trash nav-icon"></i>
                            Supprimer votre comptre
                        </a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link text-uppercase" href="{{ url_for('auth.logoutPage') }}">
                            <i class="fe fe-power nav-icon"></i>
                            deconnexion
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</div>