{% extends '_base.html' %}

{% block page_content %}
    <main>

        <section class="bg-light-primary py-lg-14 py-12 bg-cover">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-6 col-12">
                        <div class="">
                            <div class=" text-center text-md-start ">
                                <h1 class="display-3 fw-bold mb-3">
                                    Prêt à conquérir le monde avec vos mots ?
                                </h1>
                                <p class="lead">
                                    Les plus grands(es) bloggueurs(ses) du monde.
                                    Inscrivez-vous pour créer votre profil de blogueur et publiezr vos articles.
                                </p>
                            </div>

                            <div class="mt-8">
                                <span class="fs-4">
                                    Liste actuelle de {{ posts_count }} articles de {{ authors_count }} auteurs.
                                </span>
                            </div>
                        </div>
                    </div>

                    <div class="offset-lg-1 col-lg-5 col-12 text-center">
                        <div class="position-relative ">
                            <img src="{{ url_for('static', filename='img/hero-section.png') }}" class="img-fluid">
                            <div class="position-absolute top-0 mt-7 ms-n6 ms-md-n6 ms-lg-n12 start-0">
                                <img src="{{ url_for('static', filename='img/hero-block-1.svg') }}" class="img-fluid">
                            </div>
                            <div class="position-absolute bottom-0 mb-12 me-n6 me-md-n4 me-lg-n12 end-0 ">
                                <img src="{{ url_for('static', filename='img/hero-block-2.svg') }}" class="img-fluid">
                            </div>
                            <div class="position-absolute bottom-0 mb-n4 ms-n1 ms-md-n4 ms-lg-n7 start-0">
                                <img src="{{ url_for('static', filename='img/hero-block-3.svg') }}" class="img-fluid">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="py-lg-12 py-8 pb-8">
            <div class="container">
                <div class="row">
                    <div class="offset-xl-2 col-xl-9 col-md-12 col-12">
                        <div class=" text-center mb-8">
                            <span class="text-uppercase text-primary fw-semi-bold ls-md">
                                Nos derniers articles publiés
                            </span>
                            <h2 class="h1 fw-bold mt-3">
                                Découvrez nos articles pour booster votre carrière.
                            </h2>
                        </div>

                        {% include "paths/_post.html" %}

                        <div class="mt-6 text-center">
                            <a href="{{ url_for('main.blogListPage') }}" class="btn btn-outline-primary text-uppercase">
                                afficher tous les artilcles
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="py-lg-12 bg-light pt-8 py-10">
            <div class="container">
                <div class="row">
                    <div class="offset-xl-1 col-xl-10 col-md-12 col-12">
                        <div class="row text-center">
                            <div class="col-md-12 px-lg-10 mb-8 mt-6">
                                <span class="text-uppercase text-primary fw-semi-bold ls-md">Process</span>
                                <h2 class="h1 fw-bold mt-3">How It Works</h2>
                            </div>
                        </div>
                        
                        <div class="row gy-6">
                            <div class="col-md-4 col-12">
                                <div class=" text-center">
                                    <div class="icon-shape icon-lg border border-primary border-2 fs-3 rounded-circle mb-4 process-line text-primary smooth-shadow-md">1</div>
                                    <h3>Click on 'Post a job' </h3>
                                    <p class="mb-0 px-4">Fill in the details of the job be sure to
                                      include your location restrictions if you have em!
                                  </p>
                                </div>
                            </div>

                            <div class="col-md-4 col-12">
                                <div class=" text-center">
                                    <div class="icon-shape icon-lg border border-primary border-2 fs-3 rounded-circle mb-4 process-line text-primary smooth-shadow-md">2</div>
                                
                                    <h3>Select an upgrade if required </h3>
                                
                                    <p class="mb-0 px-2">The base price for a job listing on Geeks is $29 per month. Choose one of our optional upgrades to gain more visibility to your listing.</p>
                                </div>
                            </div>

                            <div class="col-md-4 col-12">
                                <div class=" text-center">
                                    <div class="icon-shape icon-lg border border-primary border-2 fs-3 rounded-circle mb-4 text-primary smooth-shadow-md">3</div>

                                    <h3>Purchase the listing </h3>

                                    <p class="mb-0 px-3">Preview your listing and once you are ready to post it you can add your billing information.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>

    {% include "paths/_footer.html" %}
{% endblock page_content %}
