<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="description" content="" />
        <meta name="keywords" content="" />
        <meta name="HandheldFriendly" content="True" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0, viewport-fit=cover" />

        <meta property="og:site_name" content="" />
        <meta property="og:type" content="website" />
        <meta property="og:title" content="" />
        <meta property="og:description" content="" />
        <meta property="og:url" content="" />

        <meta name="twitter:title" content="{{ page_title }}" />
        <meta name="twitter:description" content="" />
        <meta name="twitter:url" content="" />
        <meta name="twitter:site" content="@flavien_hugs" />
        <meta name="twitter:creator" content="@flavien_hugs" />
        <meta name="twitter:card" content="summary_large_image" />
        <meta name="twitter:image" content=" https://storage.googleapis.com/hackersandslackers-cdn/2019/06/flasklogin@2x.jpg" />

        <meta property="og:image" content=" https://storage.googleapis.com/hackersandslackers-cdn/2019/06/flasklogin@2x.jpg" />
        <meta property="og:image:width" content="1000" />
        <meta property="og:image:height" content="523" />

        {% block css %}
            <link rel="shortcut icon" href="{{ url_for('static', filename='dist/img/favicon.png') }}" type="image/x-icon" />
            <link type="text/css" href="{{ url_for('static', filename='css/theme.min.css') }}" rel="stylesheet">
            <link type="text/css" href="{{ url_for('static', filename='fonts/feather/feather.css') }}" rel="stylesheet">
        {% endblock css %}

        <title>
            {% if page_title %}
                {{ page_title }}
            {% else %}
                Accueil
            {% endif %} &smid; Unsta inc
        </title>
    </head>

    <body class="bg-white">
        {% block navbar %}
            {% include "paths/_navbar.html" %}
        {% endblock navbar %}

        {% block page_content %}

        {% endblock page_content %}

        {% block js %}
            <script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
            <script src="{{ url_for('static', filename='js/bootstrap.bundle.min.js') }}"></script>
            <script src="{{ url_for('static', filename='js/theme.min.js') }}"></script>
            {{ moment.include_moment() }}
            {{ moment.locale(auto_detect=True) }}
        {% endblock js %}
    </body>

</html>